{% extends './base.html.twig' %}

{% block title %}Inscrivez-vous{% endblock %}

{% block body %}
    <div class="container mt-5">

        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        <div class="card">

            <h1 class="text-center">Inscription</h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.lastName) }}
            {{ form_row(registrationForm.firstName) }}
            {{ form_row(registrationForm.age) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.password, {
                label: 'Password'
            }) }}
            <div class="d-flex justify-content-end mt-4">
                <button type="submit" class="btn btn-success">Inscription</button>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
