{% extends 'base.html.twig' %}

{% block title %}Car index{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Nos voitures disponibles</h1>

        <div class="row">
            {% for car in cars %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{{ vich_uploader_asset(car, 'imageFile') }}" class="card-img-top" alt="test">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ path('app_car_show', {'id': car.id}) }}">
                            {{ car.brand.name }}, {{ car.carModel.name }}
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="pagination col-lg-12 justify-content-center text-center my-5">
            {{ knp_pagination_render(cars) }}
        </div>
    </div>
{% endblock %}
