{% extends 'base.html.twig' %}

{% block title %}Ajout d'une voiture{% endblock %}

{% block body %}
    <div class="container" {{ stimulus_controller('autocomplete-model', {url: path('app_car_autocomplete_model')}) }}>
        <h1 class="text-center my-5">Ajouter une voiture</h1>
        <div class="card p-5">

            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.brand) }}
                        {{ form_widget(form.brand, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {# {{ form_label(form.carModel) }}
                        {{ form_widget(form.carModel, {'attr': {'class': 'form-control'}}) }} #}
                        <input placeholder="Search products..."
                               type="search"
                               class="form-control"
                               data-action="autocomplete-model#onSearchInput"
                        >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.region) }}
                        {{ form_widget(form.region, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.departement) }}
                        {{ form_widget(form.departement, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.color) }}
                        {{ form_widget(form.color, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.price) }}
                        {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_label(form.fuelType) }}
                        {{ form_widget(form.fuelType, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_label(form.mileage) }}
                        {{ form_widget(form.mileage, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_label(form.years) }}
                        {{ form_widget(form.years, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        {{ form_label(form.imageFile) }}
                        {{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-success">Créer</button>
            </div>
            {{ form_end(form) }}
        </div>
        <a href="{{ path('app_car_index') }}" class="btn btn-danger">Retour</a>
    </div>
{% endblock %}
